.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

form {
  font-family: inherit;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 480px;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggleOpen {
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-toggleOpen:hover, .menu-toggleOpen:focus {
  fill: #2196f3;
}

@media (min-width: 767px) {
  .menu-toggleOpen {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 21px;
  right: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-size: 40px;
  color: #000;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav__link:hover, .mob-nav__link:focus {
  color: #2196f3;
}

.mob-contacts {
  margin-top: 302px;
  margin-bottom: 64px;
}

.mob-contacts__item:first-child {
  margin-bottom: 32px;
}

.mob-contacts__link {
  font-size: 24px;
  color: #757575;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts__link:hover, .mob-contacts__link:focus {
  font-size: 34px;
  color: #2196f3;
}

.mob-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-socials__item {
  margin-right: 20px;
}

.mob-socials__link {
  position: relative;
  font-size: 500;
  color: #2196f3;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-socials__item:not(:last-child)::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  height: 22px;
  width: 1px;
  display: inline-block;
  background-color: rgba(33, 33, 33, 0.2);
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  display: none;
}

@media (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 88px;
  margin-right: 84px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

@media (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.nav-list__link--current {
  color: #2196f3;
}

.nav-list__link--current::after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media (min-width: 1200px) {
  .nav-list__link--current::after {
    -webkit-transform: translateY(27px);
            transform: translateY(27px);
  }
}

.nav-contacts {
  display: block;
}

@media (min-width: 1200px) {
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1199px) {
  .nav-contacts__item--margin {
    margin-bottom: 10px;
  }
}

.nav-contacts__link {
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .nav-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .nav-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media (min-width: 1200px) {
  .nav-contacts__iconEnv {
    width: 16px;
    height: 12px;
  }
}

@media (min-width: 1200px) {
  .nav-contacts__iconPhone {
    width: 10px;
    height: 16px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  color: #2196f3;
  font-weight: 700;
  line-height: 1.2;
}

.header__logo {
  color: #000;
}

.footer__logo {
  color: #fff;
}

.hero {
  max-width: 1600px;
  height: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bgmob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgmob.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bgmob-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgmob-@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bgtablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgtablet.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bgtablet-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgtablet-@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bgmob-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgmob-@2x.jpg);
  }
}

.hero-wrapper {
  margin: auto;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  color: #fff;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  background-color: #2196f3;
  cursor: pointer;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media (min-width: 768px) {
  .features-list__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-wrapper:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 768px) {
  .features-wrapper {
    width: 354px;
    height: 120px;
  }
}

@media (min-width: 1200px) {
  .features-wrapper {
    width: 270px;
    height: 120px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #212121;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  font-size: 14px;
  color: #757575;
  line-height: 1.7;
  width: 354px;
}

@media (min-width: 1200px) {
  .features-list__text {
    width: 100%;
  }
}

.work {
  display: none;
}

@media (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__item {
  position: relative;
  padding-bottom: 94px;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__text {
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .team-list__item {
    max-width: 354px;
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .team-list__item {
    max-width: 270px;
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.team-list__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #212121;
  font-weight: 500;
  line-height: 1.2;
}

.team-list__text {
  margin-bottom: 16px;
  font-size: 16px;
  color: #757575;
  font-weight: normal;
  line-height: 1.2;
}

.team-socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.team-socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.team-socials__item:not(:last-child) {
  margin-right: 10px;
}

.team-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover, .team-socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.team-socials__link:hover:hover .team-socials__icon,
.team-socials__link:hover:focus .team-socials__icon, .team-socials__link:focus:hover .team-socials__icon,
.team-socials__link:focus:focus .team-socials__icon {
  fill: currentColor;
}

.team-list__img {
  width: 100vw;
}

.partners {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.partners__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .partners__title {
    margin-bottom: 50px;
  }
}

.partners-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.partners-site__item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(100% / 2 - 30px);
}

@media (min-width: 768px) {
  .partners-site__item {
    width: calc(100% / 3 - 30px);
  }
}

@media (min-width: 1200px) {
  .partners-site__item {
    width: calc(100% / 6 - 30px);
  }
}

.partners-site__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  height: 90px;
  border: 1px solid #afb1b9;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-site__link:hover, .partners-site__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

@media (min-width: 768px) {
  .partners-site__link {
    max-width: 226px;
  }
}

@media (min-width: 1200px) {
  .partners-site__link {
    max-width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #2f303a;
}

@media (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-address {
    margin-bottom: 0px;
  }
}

.footer-address__item {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  line-height: 1.7;
  font-style: normal;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-address__link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .footer-wrapper {
    margin-left: 76px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .footer-wrapper {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .footer-follow {
    margin-left: 165px;
  }
}

@media (min-width: 1200px) {
  .footer-follow {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-follow__title {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .footer-follow__title {
    margin-top: 0;
  }
}

.footer-socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__icon {
  fill: #fff;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  outline: none;
}

.footerForm__email {
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footerForm__email {
    min-width: 450px;
  }
}

@media (min-width: 1200px) {
  .footerForm__email {
    min-width: 368px;
  }
}

.footerForm__email::-webkit-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footerForm__email:-ms-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footerForm__email::-ms-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footerForm__email::placeholder {
  padding-left: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footerForm__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  background-color: #2196f3;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .footerForm__button {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .footerForm__button {
    -webkit-transform: translate(385px, -50px);
            transform: translate(385px, -50px);
  }
}

.footerForm__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: auto;
  padding: 40px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal__title {
  font-size: 20px;
  color: #212121;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__label {
  position: relative;
  margin-bottom: 30px;
}

.modal__labelText {
  position: absolute;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  font-size: 12px;
  color: #757575;
  line-height: 1.16;
}

.modal__input {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label:focus-within .modal__input {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(12px, 12px);
          transform: translate(12px, 12px);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label:focus-within .modal__icon {
  fill: #2196f3;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label:focus-within .modal__textarea {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__closeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal__closeButton svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closeButton:hover svg {
  fill: #2196f3;
}

.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-checkbox__link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 3px;
}

@media (min-width: 1200px) {
  .modal-checkbox {
    font-size: 14px;
  }
}

.modal-checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-checkbox__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid #000;
  border-radius: 4px;
}

.modal-checkbox__icon {
  position: absolute;
  -webkit-transform: translateX(-176px);
          transform: translateX(-176px);
  display: none;
}

@media (min-width: 1200px) {
  .modal-checkbox__icon {
    -webkit-transform: translateX(-204px);
            transform: translateX(-204px);
  }
}

.modal-checkbox__input:checked + .modal-checkbox__check {
  opacity: 0;
}

.modal-checkbox__input:checked ~ .modal-checkbox__icon {
  display: block;
}

.modal__sendButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__sendButton:hover, .modal__sendButton:focus {
  background-color: #188ce8;
}

.heroPortfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .heroPortfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .hero-filter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .hero-filter {
    margin-bottom: 50px;
  }
}

.hero-filter__item:not(:last-child) {
  margin-right: 8px;
}

.hero-filter__item:nth-child(4) {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .hero-filter__item:nth-child(4) {
    margin-top: 0px;
  }
}

.hero-filter__item:nth-child(5) {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .hero-filter__item:nth-child(5) {
    margin-top: 0px;
  }
}

.hero-filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  border: none;
  font-size: 16px;
  color: #212121;
  font-weight: 500;
  line-height: 1.6;
  background-color: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-filter__button:hover, .hero-filter__button:focus {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.hero-cards__overlay {
  position: relative;
  overflow: hidden;
}

.hero-cards__overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-cards__link {
  width: 100%;
  height: 100%;
}

.hero-cards__link:hover .hero-cards__overlay::before,
.hero-cards__link:focus .hero-cards__overlay::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hero-cards__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(170%);
          transform: translate(-50%, -50%) translateY(170%);
  width: 402px;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  -webkit-transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .hero-cards__text {
    width: 306px;
  }
}

@media (min-width: 1200px) {
  .hero-cards__text {
    width: 322px;
  }
}

.hero-cards__link:hover .hero-cards__text,
.hero-cards__link:focus .hero-cards__text {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .hero-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.hero-cards__item {
  border: 1px solid #eee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .hero-cards__item {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .hero-cards__item {
    max-width: 370px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.hero-cards__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .hero-cards__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.hero-cards__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.hero-cards__title {
  margin-bottom: 4px;
  font-size: 18px;
  color: #212121;
  font-weight: 700;
  line-height: 2;
}

.hero-cards__subtitle {
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  line-height: 1.9;
}

.hero-cards__img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */