.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%);

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 250ms $cubic;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}
