.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features-list{
@media (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
       
    }
}
.features-list__item {
    @media (min-width:768px) {
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }
    @media (min-width:1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}
.features-wrapper {
    @include flex-center();
    margin-bottom: 30px;

    @include size(100%, 120px);
    background: $btn-bg;
    border-radius: 4px;
    transition: filter 250ms $cubic;

    &:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media (min-width:768px) {
        @include size(354px, 120px);
    }
    @media (min-width:1200px) {
        @include size(270px, 120px);
    }
}
.features-list__item:not(:last-child) {
    margin-bottom: 30px;
    @media (min-width:768px) {
        margin-bottom: 0;
    }
}

.features-list__title {
    margin-bottom: 10px;
    @include font-source(14px, $black-secondary, 700, 1.2, null);
    text-align: center;
    text-transform: uppercase;
    @media (min-width:768px) {
        text-align: left;
    }
}

.features-list__text {
    @include font-source(14px, $grey-cnt, null, 1.7, null);
    width: 354px;
    @media (min-width:1200px) {
        width: 100%;
    }
    
}

