.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: $bg-color;
}
.footer-address {
    margin-top: 20px;
    margin-bottom: 60px;
}
.footer-address__item {

    @include font-source(14px, $white-primary, normal, 1.7, null);
    font-style: normal;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}
.footer-address__link {
    @include font-source(14px, $white-secondary-op, normal, 1.7, null);

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $blue-accent;
    }
}

.footer-follow__title {
    @include font-source(14px, $white-primary, 700, 1, 0.03em);

        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 60px;
}