.hero {
   max-width: 1600px;
   height: auto;
padding-top: 118px;
padding-bottom: 118px;
text-align: center;
background-color: #c4c4c4;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../../images/bgmob.jpg);
     
   @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/bgmob-@2x.jpg);
  }
  @media (min-width:768px) { 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../../images/bgtablet.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/bgtablet-@2x.jpg);
  }
  @media (min-width:1200px) { 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../../images/bg.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/bgmob-@2x.jpg);
  }
}


.hero-wrapper {
    // max-width: 360px;
    margin: auto;
}
.hero__title {
    margin-bottom: 30px;

    @include font-source(26px, $white-primary, 900, 1.6, 0.06em);
    @media (min-width:1200px) {
      font-size: 44px;
      
      
    }
    
    text-transform: uppercase;
}
.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;

    font-family: inherit;

    @include font-source(16px, $white-primary, 700, 1.9, 0.06em);

    text-align: center;
    border: none;
    background-color: $blue-accent;
    cursor: pointer;
}