.header {
  padding-top: 16px;
  padding-bottom: 16px;
  @media (min-width:768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  border-bottom: 1px solid #ececec;
}
.header-nav {
  @media (min-width: 768px) {
    display: flex;
  }
}
.mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-open {
  @media (min-width: 767px) {
    display: none;
  }
}

.header__container {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}
.nav-list {
    @include flex-center();
    margin-left: 88px;
  margin-right: 84px;
   
  &__item:not(:last-child) {
    margin-right: 50px;
  } 
}

.nav-contacts {
  
   
    display: flex;
    flex-direction: column;
   
    
  }


.nav-list__link {
  
    position: relative;
 
    padding-top: 32px;
    padding-bottom: 32px;
    @include font-source (14px, $black-secondary, 500, 1.2, null);
    transition: color 250ms $cubic;
  
  
  &:hover,
  &:focus {
    color: $blue-accent;
  }
  
  &--current {
      color: $blue-accent;
  }
  &--current::after {
    position: absolute;
    content: "";
    transform: translateY(27px);
    display: block;
    @include size (100%, 4px);
    border-radius: 2px;
    background-color: $blue-accent;
  }
  }
  

.nav-contacts__link {
  @include font-source (14px, $grey-cnt, 500, 1.2, null);
  transition: color 250ms $cubic;
 
  &:hover,
  &:focus {
    color: $blue-accent;
  }
}

.nav-contacts__icon {
    margin-right: 8px;
     fill: currentColor;
  }

