.partners {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


}

.partners__title {
   @include title-style;
   margin-bottom: 30px;
   @media (min-width:1200px) {
    margin-bottom: 50px;
}
}
.partners-site {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
    
 .partners-site__item{
     margin-top: 30px;
     margin-left: 30px;
     width: calc(100% / 2 - 30px);
     
     @media (min-width:768px) {
        width: calc(100% / 3 - 30px);
     }
     @media (min-width:1200px) {
        width: calc(100% / 6 - 30px);
     }

 }   
  


.partners-site__link {
    @include flex-center();
   max-width: 210px;
   height: 90px;
    border: 1px solid #afb1b9;
    fill: #afb1b8;
    transition: fill 250ms $cubic, border 250ms $cubic, border-radius 250ms $cubic;

    &:hover,
    &:focus {
        border: 1px solid $blue-accent;
        border-radius: 4px;
        fill: $blue-accent;
    }

    @media (min-width:768px) {
        max-width: 226px;
    }
    @media (min-width:1200px) {
        max-width: 170px;
    }

}