.heroPortfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero-filter {
    display: flex;
    justify-content: center;

    &__item {
      
       margin-bottom: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }
}

.hero-filter__button {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    border: none;
    
    @include font-source (16px, $black-secondary, 500, 1.6);
    background-color: $btn-bg;
   
    transition: background-color 250ms $cubic, color 250ms $cubic, box-shadow 250ms $cubic;

    &:hover,
    &:focus {
        background-color: $blue-accent;
        color: $white-primary;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
     
    }
}

