.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $btn-bg;

    &__title {
        @include title-style;
        margin-bottom: 30px;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -30px;
    margin-left: -30px;

    
    &__item {
        
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px; 
        background-color: $white-primary;
        
        @media (min-width:768px) {
            max-width: 354px;
            margin-top: 30px;
            margin-left: 30px;
            flex-basis: calc(100% / 2 - 30px);
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
        
        @media (min-width:768px) {
            margin-bottom: 0;
        }
    }

}
.team-list__name {
    margin-top: 30px;
    margin-bottom: 10px;
    @include font-source (16px, $black-secondary, 500, 1.2, null);

}
.team-list__text {
    margin-bottom: 16px;
    @include font-source (16px, $grey-cnt, normal, 1.2, null);

}
.team-socials {
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}
.team-socials__item  {
    @include flex-center ();
   
    @include size (44px);

    &:not(:last-child) {
        margin-right: 10px;
    }
}
.team-socials__link {
    @include flex-center ();
   
    @include size (44px);;
  
    border-radius: 50%;
    fill: #afb1b8;
    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
        background-color: $blue-accent;
        color: $white-primary;
       
        &:hover .team-socials__icon,
        &:focus .team-socials__icon {
            fill: currentColor;
        }
    }
}

.team-list__img {
  width: 100vw;
}


