$blue-accent: #2196f3;
$black-primary: #000;
$black-secondary: #212121;
$white-primary: #fff;
$grey-cnt: #757575;
$white-secondary-op: rgba(255, 255, 255, 0.6);
$bg-color: #2f303a;
$btn-bg: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);



